name: Check dist

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
  workflow_dispatch:

jobs:
  check-dist:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set Node.js 18.x
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 18.x
          cache: 'npm'

      - name: Install dependencies
        run: |
          npm ci
          sudo apt-get update && sudo apt-get install dos2unix
      - name: test
        run: npm run test
      - name: Rebuild the dist/ directory
        run: |
          npm run build
          npm run package

      - name: Compare the expected and actual dist/ directories
        id: diff
        run: |
          git status --porcelain=v1
          if [ "$(git status --porcelain=v1 2>/dev/null | wc -l | sed 's# ##g')" -gt "0" ]; then
            echo "Detected uncommitted changes after build.  See status below:"
            git diff --text
            exit 1
          fi

      # If index.js was different than expected, upload the expected version as an artifact
      - uses: actions/upload-artifact@v5
        if: ${{ failure() && steps.diff.conclusion == 'failure' }}
        with:
          name: dist
          path: dist/
